<h1>注文情報確認</h1>
<% @cart_items.each do |cart_item| %>
					<% item = cart_item.item %>
					<tr>
						<td>
							<%= attachment_image_tag item, :image, format: "jpeg", fallback: "no-image.png", class: "cart_item_image" %>
						</td>
						<td><%= item.name %></td>
						<td><%= item.with_tax_price %>円</td>
						<td><%= cart_item.amount %></td>
						<td><%= cart_item.subtotal %>円</td>
					</tr>
				<% end %>
<p>商品名</p>
